extends layout

block content

    .container
      h1 Github Search
      form.navbar-form.navbar-left(role='search')
        .form-group
          input#search-field.form-control(type='text', placeholder='Search')
        button.btn.btn-default(type='button', onclick='githubSearch()') Search
