doctype html
html
  head
    title Github Search
    link(rel='stylesheet', href='stylesheets/bootstrap.css')
    link(rel='stylesheet', href='stylesheets/bootstrap-table.css')
  body
    block content
